:root {
  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 68%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 50px;
}

.container {
  padding-left: 100px;
}

.nav {
  padding: 40px 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main__details {
  flex-basis: 40%;
  margin-top: 50px;
}

.main__heading {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 30px;
}
.main__heading-colored {
  color: var(--desaturatedRed);
  font-weight: 200;
}

.main__paragraph {
  color: var(--desaturatedRed);
  font-size: 17px;
  line-height: 1.7;
}

.form {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 40px;
}
.form__input {
  width: 100%;
  font-family: inherit;
  padding: 15px 30px;
  border-radius: 100px;
  border: 1px solid var(--desaturatedRed);
  font-size: 16px;
  outline: none;
}
.form__input::placeholder {
  color: var(--desaturatedRed);
  opacity: 0.8;
}

.form__btn {
  position: absolute;
  border: none;
  border-radius: 100px;
  align-self: stretch;
  padding: 0 40px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  /* box-shadow: 0 2px 5px black; */
  height: 100%;
  right: 0;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
}
.form__btn:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
.form__warn-icon {
  position: absolute;
  right: 100px;
  display: none;
}
.form__warn-text {
  color: var(--softRed);
  margin-left: 0;
  margin-top: 10px;
  display: none;
}

.main__img-container {
  flex-basis: 50%;
  align-self: stretch;
  flex-shrink: 0;
}
.main__img {
  width: 100%;
  transform: translateY(-120px);
  height: calc(100% + 120px);
}
.main__details-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-bottom: 50px;
  display: none;
}

@media (max-width: 1070px) {
  .container {
    padding-left: 50px;
  }
  .main__img-container {
    flex-basis: 50%;
  }
}
@media (max-width: 800px) {
  .main__img-container {
    display: none;
  }
  .main__details {
    flex-basis: 100%;
    margin-top: 0;
    text-align: center;
  }
  .main__details-img {
    display: block;
  }
  .container {
    padding: 0 30px;
  }
  .form__btn {
    padding: 0 30px;
  }
}
